<div class="content-wrapper" style="background-image:url({{login_bg}})">
    <div class="login-form" style="padding-top:100px;padding-bottom:40px;">
        <div class="section-padding">
        	<div class="row">
        		<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        			<div class="white-bg">
        				<div class="row">
        					<div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 ">
	        					<div class="section1">

	        						<p><i class="fa fa-suitcase pay-icon"></i>Category</p>
	        						<p class="right"><strong>{{video.category_name}}</strong></p>
	        						<p class="section1-line top"></p>

	        						<p><i class="fa fa-suitcase pay-icon"></i>Sub Category</p>
	        						<p class="right"><strong>{{video.sub_category_name}}</strong></p>
	        						<p class="section1-line top"></p>

	        						<p><i class="fa fa-file-o pay-icon"></i>Title</p>
	        						<p class="right"><strong>{{video.title}}</strong></p>
	        						<p class="section1-line"></p>

	        						<p><i class="fa fa-user pay-icon"></i> User Type</p>
	        						<p class="right"><strong>
	        								<span ng-if="video.type_of_user == 1">
							              		Normal Users
							              	</span>
							              	<span ng-if="video.type_of_user == 2">
							              		Paid Users
							              	</span>
							              	<span ng-if="video.type_of_user == 3">
							              		Both Users
							              	</span>
	        						</strong></p>
	        						<p class="section1-line"></p>

	        						<p><i class="fa fa-hand-o-up pay-icon"></i> Subcription type</p>
	        						<p class="right"><strong>
	        							<span ng-if="video.type_of_subscription == 1">
							              		One Time Payment
							              	</span>
							              	<span ng-if="video.type_of_subscription == 2">
							              		Recurring Payment
							              	</span>
							              	
	        						</strong></p>
	        						<p class="section1-line"></p>

	        						<p><i class="fa fa-usd pay-icon"></i> Amount</p>
	        						<p class="right"><strong>${{video.amount}}</strong></p>
	        					</div>
        					</div>

        					
        					<div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
        						<div class="spacing">
        							<h3 class="pay-head"><i class="fa fa-globe pay-icon1" ></i><span>Pay per view</span></h3>
        							<h3 class="table-title">Amount</h3>

        							<p style="color: #000"  ng-if="video.type_of_user == 3"><small>If you subscribe also , you need to pay for this selected video</small></p>

        							<table class="table">
        								<tbody>
        									<tr>
        									<!-- <tr class="active"> -->
										        <td>Subtotal</td>
										        <td>${{video.amount}}</td>
										    </tr>
										   <!--  <tr>
										        <td>Tax</td>
										        <td>$0.00</td>
										    </tr> -->
										    <tr class="info">
										    <!-- <tr class="active"> -->
										        <td>Total</td>
										        <td>${{video.amount}}</td>
										    </tr>
										</tbody>
									</table> 
									<div class="text-right">
										<button class="payment-submit" ng-click="sendToPaypal(video.admin_video_id)"><i class="fa fa-cc-mastercard"></i> Pay</button>
									</div>
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
       	</div>
    </div>
    <div class="push"></div>
</div>