 <div class="main-content form-content bg-img" style="background-image:url({{login_bg}})">
    	<nav class="navbar navbar-default form-navbar" role="navigation">
			<div class="container">
				<div class="navbar-header form-header">
					<a class="navbar-brand" ui-sref="static.index">
						<img ng-src="{{site_logo}}" class="hidden-xxs">
						<img src="img/mobile-logo.png" class="visible-xxs">
					</a>
				</div>
			</div>
		</nav>

		<div class="content-panel">

			<!-- LOGIN FORM 
			===================================================-->
			<div class="login-form">
				<div class="container">
					<div class="login-form-inner grey-bg">	
						<h3 class="login-tit">Forgot Password</h3>
						<form ng-submit="forgot()">

							<div class="form-group">
							    <label for="exampleInputEmail1">Email address</label>
							    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required ng-model="email">
							</div>
							
							<div class="text-right">
								<p class="form-txt">Already Have an Account? <a ui-sref="static.signin" >Login</a></p>
							</div>

							<div>
								<button type="submit" class="btn btn-primary form-btn" id="forgot_password_button">Submit</button>
							</div>

							<div class="form-txt-block">
								<p class="form-txt">The link will send to your mail address</a></p>
							</div>
						</form>
					</div>					
				</div>
			</div>
			<!-- LOGIN FORM -->

		</div>
    </div>