<div class="main-content form-content bg-img" style="background-image:url({{login_bg}})">
	<nav class="navbar navbar-default form-navbar" role="navigation">
		<div class="container">
			<div class="navbar-header form-header">
				<a class="navbar-brand" ui-sref="static.index">
			 		<img ng-src="{{site_logo}}" class="hidden-xxs">
			 		<img src="img/mobile-logo.png" class="visible-xxs">
				</a>
			</div>
		</div>
	</nav>

	<div class="content-panel">

		<!-- LOGIN FORM 
		===================================================-->
		<div class="login-form">
			<div class="container">
				<div class="login-form-inner grey-bg">	
					<h3 class="login-tit">Sign In</h3>
					<form method="post" ng-submit="signin()">
						<div class="form-group">
						    <label for="exampleInputEmail1">Email address</label>
						    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email" required ng-model="email">
						</div>

						<div class="form-group">
						    <label>Password</label>
						    <input type="password" class="form-control" placeholder="Enter Password" required ng-model="password">
						</div>

						<input type="text" name="login_by" ng-model="login_by" ng-hide="true">

						<input type="text" name="device_type" ng-model="device_type" ng-hide="true">

						<input type="text" name="device_token" ng-model="device_token" ng-hide="true">

						
						<div>
							<button type="submit" class="btn btn-primary form-btn" id="sign_in_button">Sign In</button>
						</div>

						</form>
						<!-- <div>
							<a href="#" class="face-link form-link">
								<img src="img/fb.png">Login with Facebook
							</a>
						</div> -->


						<div class="social-login" ng-show="fb_status || google_status">
	                        <form method="POST" action="{{socialUrl}}" ng-show="google_status">
	                        	<input value="google" name="provider" id="provider" type="hidden">
	                            <div class="form-signup-google"> <button type="submit" class="btn"><i class="fa fa-google"></i>Sign in with Google</button> </div>
	                        </form>
	                        <form method="POST" action="{{socialUrl}}" ng-show="fb_status">
	                        	<input value="facebook" name="provider" id="provider" type="hidden">
	                            <div class="form-signup-facebook"> <button type="submit" class="btn"><i class="fa fa-facebook"></i>Sign in with facebook</button> </div>
	                        </form>  
	                    </div>

						<div class="clearfix"></div>



						<div class="pull-left1">
							<div class="form-txt-block">
								<p class="form-txt">New to {{site_name}}? <a ui-sref="static.signup" class="form-link">Sign up now.</a></p>
							</div>
						</div>

						<div class="pull-right1">

							<div class="forgot form-txt-block">
								<a ui-sref="static.forgot" class="form-link">Forgot Password?</a>
							</div>

						</div>

						<div class="clearfix"></div>

					
				</div>					
			</div>
		</div>
		<!-- LOGIN FORM -->

	</div>
</div>
